<form action="{{ url_for("inserir") }}" method="post">

<label for="nome">Nome:</label>
<input type="text" id="nome" name="nome" placeholder="Digite seu Nome">

<label for="email">E-mail:</label>
<input type="text" id="email" name="email" placeholder="Digite seu E-mail"">

<label for="siape">Siape:</label>
<input type="text" id="siape" name="siape" placeholder="Digite seu Siape"">

<label for="num_alunos">Número de Alunos:</label>
<input type="text" id="num_alunos" name="num_alunos" placeholder="Digite o número de alunos">

<label for="idade">Idade:</label>
<input type="text" id="idade" name="idade" placeholder="Digite a sua idade">


<button type="submit">Salvar</button>